extends layout

block content
  .row
    h1 Beer Fridge
  .row
    .col.s3.offset-s3.fixed-height
      span.thermometer
    .col.s3.fixed-height.valign-wrapper.center-align.full-width
      h1.valign#tmp= fridgeData['temp'] + " °F"
  if fridgeData['fridge']
    p#fri The fridge is open.
  else
    p#fri The fridge is closed.
  //- p#tmp= "Temperature: " + fridgeData['temp']
  p#rem= "Bottles removed: " + fridgeData['removed']
  p#num= "Number of bottles: " + fridgeData['number_bottles']
  script(src="//code.jquery.com/jquery-2.1.0.min.js")
  script(type='text/javascript').
    setInterval(function() {
      $.ajax({
        url: 'http://localhost:3000/data',
        dataType: 'json',
        success: function(response) {
          if(response['fridge']) {
            $('#fri').text('The fridge is open.')
          }
          else {
            $('#fri').text('The fridge is closed.')
          }
          $('#tmp').text(response['temp'] + ' °F');
          $('#rem').text('Bottles removed: ' + response['removed']);
          $('#num').text('Number of bottles: ' + response['number_bottles']);
        }
      })
    }, 500)
