body {
  background-color: #cfd8dc;
  text-align: center;
  font-family: sans-serif;
}

.fixed-height
{
  height:250px;
}

.full-width
{
  width: 100%;
}

#thermometer-top {
    height: 150px;
    width: 20px;
    border-right: 5px solid #616161;
    border-left: 5px solid #616161;
    border-top: 5px solid #616161;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: transparent;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#thermometer-bottom {
    content: '';
    background: tomato;
    width:60px;
    height: 60px;
    border-radius: 100%;
    border: 5px solid #616161;
    z-index: -1;
    margin: -7px auto;
}

#thermometer-fill {
    width: 30px;
    min-height: 12px;
    background: tomato;
    position: absolute;
    bottom: -5px;
    left: -5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: all .2s;
}
