body
{
  background-color: #cfd8dc;
  text-align: center;
  font-family: sans-serif;
}

.fixed-height
{
  height:250px;
}

.full-width
{
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p
{
  font-weight: 200;
}

#thermometer-top
{
    height: 150px;
    width: 20px;
    border-right: 5px solid #616161;
    border-left: 5px solid #616161;
    border-top: 5px solid #616161;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: transparent;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#thermometer-bottom
{
    content: '';
    background: tomato;
    width:60px;
    height: 60px;
    border-radius: 100%;
    border: 5px solid #616161;
    z-index: -1;
    margin: -7px auto;
}

#thermometer-fill
{
    width: 30px;
    min-height: 12px;
    background: tomato;
    position: absolute;
    bottom: -5px;
    left: -5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: all .2s;
}

.open
{
  width:150px;
  height:150px;
  margin:auto;
  background-color: #4caf50;
  box-shadow: 0px 0px 30px 10px #4caf50;
  animation: openPulse 0.6s infinite;
  animation-direction: alternate;
  -webkit-animation: openPulse 0.9s ease-out infinite;
  -webkit-animation-direction: alternate;
}

.closed
{
  width:150px;
  height:150px;
  margin:auto;
  background-color: #f44336;
  box-shadow: 0px 0px 30px 10px #f44336;
  animation: closedPulse 0.6s infinite;
  animation-direction: alternate;
  -webkit-animation: closedPulse 0.9s ease-out infinite;
  -webkit-animation-direction: alternate;
}

@keyframes openPulse {
	from {box-shadow: 0 0 30px 10px rgba(76, 175, 80, 1);}
	to {box-shadow: 0 0 30px 10px rgba(76, 175, 80, .2);}
}
@-webkit-keyframes openPulse {
	from {box-shadow: 0 0 30px 10px rgba(76, 175, 80, 1);}
	to {box-shadow: 0 0 30px 10px rgba(76, 175, 80, .2);}
}

@keyframes closedPulse {
	from {box-shadow: 0 0 30px 10px rgba(244, 67, 54, 1);}
	to {box-shadow: 0 0 30px 10px rrgba(244, 67, 54, .2);}
}
@-webkit-keyframes closedPulse {
	from {box-shadow: 0 0 30px 10px rgba(244, 67, 54, 1);}
	to {box-shadow: 0 0 30px 10px rrgba(244, 67, 54, .2);}
}
